#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=draw.io
Exec=/opt/microsoft/msedge/microsoft-edge --profile-directory=Default --app-id=ilmgmogedobmcfegdjcibiiaodmdenpf --app-url=https://app.diagrams.net/index.html
Icon=msedge-ilmgmogedobmcfegdjcibiiaodmdenpf-Default
StartupWMClass=crx__ilmgmogedobmcfegdjcibiiaodmdenpf
