$grayLighter: #f5f5f5;
$grayLight: #e5e5e5;
$gray: #a6a6a6;
$grayDark: #666666;
$grayDarker: #3f3f3f;

$purpleBG: #e6d6fa;
$purpleLighter: #ab90ce;
$purpleLight: #8459b4;
$purple: #58387a;
$purpleDark: #462e63;
$purpleDarker: #322146;

$greenLighter: #ecfae5;
$greenLight: #c3f7a6;
$green: #46c600;
$greenDark: #42a40d;
$greenDarker: #37840d;

$yellowBG: #fef8e4;
$yellowLighter: #ffefb7;
$yellowLight: #ffd33f;
$yellow: #ffcf59;
$yellowDark: #c1972e;
$yellowDarker: #795a0d;

$neutral-100: #f5f5f5;
$neutral-200: #ebebeb;
$neutral-300: #e0e0e0;
$neutral-500: #949494;
$neutral-600: #707070;
$neutral-700: #424242;
$neutral-800: #1f1f1f;

$primary-lightest: #f6f0ff;
$primary-light: #d4bdee;
$tertiary-darkest: #be8700;

$info-lightest: #ebebeb;
