* {
  background-color: #2e3440;
  color: #d8dee9;

  border: none;
  border-radius: 0;
  min-height: 0px;
  padding: 1px 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 1px;
    margin: 4px 1px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor3;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
    min-width: 22px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
}


#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
