@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation($delay, $duration, $animation, $timing-function: linear, $direction: normal, $fillmode: none) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-timing-function: $timing-function;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}
